.section-vote-room :global {
  @apply py-10;
  .container {
    @apply px-4;
    @apply transform lg:fixed lg:top-1/2 lg:left-1/2 lg:-translate-x-1/2 lg:-translate-y-1/2;
  }
  .topbar {
    @apply flex items-center justify-end;

    .abc-icon {
      @apply mx-2;
    }

    .user-name {
      @apply md:text-h5;
    }
  }
  p {
    @apply text-base;
  }
  .room-name {
    @apply justify-start;
  }
  .story-name {
    @apply flex items-center justify-center gap-3 lg:mb-14;
  }
  .content {
    @apply mt-14 justify-between gap-8 lg:mt-8 lg:flex;
  }
  .border-line {
    @apply border-b-2 border-b-black/[0.2];
    &:last-child {
      @apply border-none;
    }
  }
  .right-content {
    @apply mt-10  basis-4/12 border-2 border-black/[0.2] lg:mt-0;
    .sub-title {
      @apply py-4 px-4;
    }
    .title {
      @apply bg-abc-blue px-16 py-5 text-center text-white;
    }
    .player-status {
      @apply flex items-center justify-between px-3 py-4;

      .voted {
        @apply flex items-center gap-1 text-abc-blue;
        @apply ml-auto pr-1;
      }
    }

    // .player-status:last-child {
    //   @apply border-0;
    // }
    // .player-status:first-child {
    //   @apply border-2;
    // }
    .player-info {
      @apply flex items-center;
    }
    .name {
      @apply pl-4 text-base;
    }
    .action {
      @apply flex justify-center gap-4 p-4 text-base;
    }
    .btn {
      @apply py-1;
    }
    .sharing {
      h6 {
        @apply mt-4 pl-4;
      }
    }
    .share-link {
      @apply m-4 flex border border-black border-opacity-20;

      input {
        @apply h-12 w-full border-none;
      }
      .copy-btn {
        @apply w-auto border border-y-0 border-r-0 border-l-2 border-black border-opacity-20 bg-white px-4;
      }
    }
    .voter-list {
      @apply mr-1 h-[280px] overflow-y-auto;
      scrollbar-width: thin;
      scrollbar-color: rgba(0, 0, 0, 0.2);
      &::-webkit-scrollbar {
        @apply h-[6px] w-[6px];
      }
      &::-webkit-scrollbar-track {
        @apply bg-transparent;
      }
      &::-webkit-scrollbar-thumb {
        @apply rounded-[10rem] border border-white bg-black bg-opacity-20;
      }
      &::-webkit-scrollbar-track-piece:start {
        @apply bg-transparent;
      }
      &::-webkit-scrollbar-track-piece:end {
        @apply bg-transparent;
      }
      &.scrolling-touch {
        -webkit-overflow-scrolling: touch;
      }
      &.scrolling-auto {
        -webkit-overflow-scrolling: auto;
      }
    }
  }
  .left-content {
    @apply basis-9/12;
    .card-holder {
      @apply mx-auto mt-10 grid max-w-[290px] grid-cols-2 gap-x-5 gap-y-4 sm:max-w-full sm:grid-cols-3 sm:px-20 md:px-36 lg:mt-14 lg:grid-cols-4 lg:gap-10 lg:px-0 xl:mx-28 2xl:mx-48;
    }
    .card-item {
      @apply relative m-auto h-48 w-32 cursor-pointer rounded-md border border-black/[0.2] bg-white;
    }
    .card-number {
      @apply absolute z-50 h-full w-full p-5 text-h2;
      button {
        @apply flex h-full w-full items-center justify-center rounded-md border border-black/[0.5] text-center text-h2;
        &:hover {
          @apply bg-abc-blue text-white;
        }
      }
    }
    .selected {
      @apply bg-abc-blue;
      button {
        @apply bg-white;
      }
    }
    .chart-holder {
      @apply relative mt-10 text-center text-base lg:mx-44;
      canvas {
        @apply mx-auto object-contain object-center pr-5;
      }
      .chart-center-text {
        @apply -mt-48;
        p:last-child {
          @apply opacity-50;
        }
      }
      .chart-info {
        @apply flex flex-wrap justify-center gap-x-16 gap-y-10;
        @apply mx-auto mt-52 h-full max-w-md lg:absolute lg:top-7 lg:-left-32 lg:mt-0 lg:block;
        // @apply mt-52 grid h-full grid-cols-3 justify-between lg:absolute lg:top-7 lg:-left-32 lg:mt-0 lg:block;
        .label {
          @apply relative;
          @apply flex items-center justify-between;
          @apply lg:items-start;
          @apply w-24;
          .result {
            @apply flex gap-3;
            @apply lg:pb-5 lg:pl-0;
          }
          .circle {
            @apply h-5 w-5 rounded-full;
          }
          .most {
            @apply border-2 border-[#6EDDA9] bg-[#9FE5C7];
          }
        }
      }
    }
  }
}
